# Supabase PostgreSQL Database Configuration
SUPABASE_DB_URL=jdbc:postgresql://localhost:5432/postgres
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=postgres

# PayHere Config
PAYHERE_MERCHANT_ID=1234567
PAYHERE_MERCHANT_SECRET=DEFAULT_SECRET

# RabbitMQ Config
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Doctor Service Configuration
DOCTOR_SERVICE_URL=http://localhost:3002/api/doctors
